/*-------- BODY CONTAINER --------*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
/*--x----- BODY CONTAINER -----x--*/

/*-------- UNIVERSAL CSS --------*/

.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0;
    margin: 0;
    grid-gap: .05rem;
}

a{
    cursor: pointer;
}

header{
    grid-area: 1/1/2/5;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: rgba(0,0,0,0.8);
}

/*--x----- UNIVERSAL CSS -----x--*/

/*-------- MAIN NAVIGATION SECTION --------*/

/*-------- NAVIGATION CONTAINER SECTION --------*/
.nav__container{
    width: 1280px;
    margin: auto;
}
/*--x----- NAVIGATION CONTAINER SECTION -----x--*/

.nav__checkbox{
    display: grid;
    grid-template-columns: 8rem 8rem auto 100px;
    align-items: center;
    padding: 10px 0;
}

/*-------- LOGO SECTION --------*/
.rccg__logo__box{
    grid-area: 1/1/2/2;
    text-decoration: none;
    color: #fff;
    padding-left: 1px;
    outline: none;
}

.rccg_logo{
    width: 7rem;
    height: 7rem;
}

.yp6__logo__box{
    grid-area: 1/2/2/3;
    text-decoration: none;
    color: #fff;
   
    outline: none;
}

.yp_6_logo{
    width: 7rem;
    height: 7rem;
}
/*--x----- LOGO SECTION -----x--*/

/*-------- NAVIGATION SECTION --------*/
.tab__nav{
    outline: none;
    display: none;
}

.tab__nav__label{
    display:none;
    color: #fff;
}

.tab__content{
    grid-area: 1/3/2/4;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.tab__content li{
    display: inline-block;
    padding-right: 30px;
}

.tab__content li a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

.tab__content li a::before{
    content: "";
    display: block;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    transform-origin: left;
    transform: scale(0,1);
    transition: transform ease-in-out 500ms;
}

.tab__content li a:hover::before{
    transform: scale(1,1);
}

.tab__content li a::after{
    content: "";
    display: block;
    height: 3px;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0,1);
    transition: transform ease-in-out 500ms;
}

.tab__content li a:hover::after{
    transform: scale(1,1);
}
/*--x----- MAIN NAVIGATION SECTION -----x--*/

/*-------- ONLINE GIVING SECTION --------*/
.btn__giving{
    grid-area: 1/4/2/5;
    background-color: #fff;
    color: black;
    border: 2px solid black;
    padding: 10px 2px;
    cursor: pointer;
    outline: none;
}
/*--x----- ONLINE GIVING SECTION -----x--*/

/*-------- BANNER IMAGE START --------*/
.banner__image{
    grid-area: 2/1/3/5;
margin: 0;
padding: 0;
height: 121vh;
display: flex;
justify-content: center;
align-items: center;
}

.slider{
    width: 100%;
    height: 680px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 680px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-gap: 0.01rem;
    text-align: center;
}

.slide img{
    grid-area: 1/1/8/4;
    width: 100%;
    height: 41rem;
    z-index: 0;
}

/*-------- BANNER IMAGE BUTTON START --------*/
.btn__slide{
    grid-area: 1/2/2/3;
    margin: 0;
    padding: 4px;
    margin-top: 26rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    border: 2px solid #40d3dc;
    color: #40d3dc;
    background-color: #180c62;
}
/*-------- BANNER IMAGE BUTTON END --------*/

/*-------- CSS FOR MANUAL SLIDE NAVIGATION --------*/
.navigation__manual{
position: absolute;
width: 100%;
margin-top: -80px;
display: flex;
justify-content: center;
}

.manual__btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual__btn:not(:last-child){
    margin-right: 40px;
}

.manual__btn:hover{
    background: #40d3dc;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*-------- CSS FOR MANUAL SLIDE NAVIGATION --------*/

/*-------- CSS FOR AUTOMATIC NAVIGATION --------*/
.navigation__auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 600px;
    margin-left: 24.5rem;
}

.navigation__auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation__auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation__auto .auto__btn1{
    background: #40d3dc;
}

#radio2:checked ~ .navigation__auto .auto__btn2{
    background: #40d3dc;
}

#radio3:checked ~ .navigation__auto .auto__btn3{
    background: #40d3dc;
}

#radio4:checked ~ .navigation__auto .auto__btn4{
    background: #40d3dc;
}

/*--x----- CSS FOR AUTOMATIC NAVIGATION -----x--*/


/*--x----- BANNER IMAGE END -----x--*/

/*-------- CHURCH INFORMATION SECTION --------*/
.church__info{
    grid-area: 3/1/4/5;
    display: grid;
    grid-template-columns: minmax(min-content, 4rem) minmax(min-content, 4rem) minmax(min-content, 4rem);
    grid-gap: 3rem;
    place-content: center;
}

/*-------- WELCOME TO CHURCH COLUMN --------*/
.welcome__to__church{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-gap: .5rem;
    height: 3rem;
}
/*--x----- WELCOME TO CHURCH COLUMN -----x--*/

/*-------- ABOUT US COLUMN --------*/
.about__us{
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-gap: .5rem;
    height: 6rem;
}
/*--x----- ABOUT US COLUMN -----x--*/

/*-------- I AM NEW COLUMN --------*/
.i__am__new{
    grid-area: 1/3/2/4;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-gap: .5rem;
    height: 6rem;
}
/*--x----- I AM NEW COLUMN -----x--*/

.church__info__details{
    margin-left: 4rem;
}

/*-------- CHURCH INFORMATION IMAGES BOX --------*/
.church__info__image{
    width: 23rem;
    height: 23rem;
    grid-area: 1/1/2/2;
}
/*-------- CHURCH INFORMATION IMAGES BOX --------*/

/*------- CHURCH INFORMATION TITLE --------*/
.info__title{
    grid-area: 2/1/3/2;
    font-size: 1.8rem;
}
/*--x---- CHURCH INFORMATION TITLE -----x--*/

/*------- CHURCH INFORMATION DETAILS --------*/
.info__words{
    grid-area: 3/1/4/2;
}
/*------- CHURCH INFORMATION DETAILS --------*/

/*------- BUTTON READMORE --------*/
.btn__readmore{
grid-area: 4/1/5/2;
background-color: #180c62;
color: #fff;
height: 3rem;
font-size: 1.5rem;
}

.btn__readmore:hover{
    background-color: #cd953b;
    color: #180c62;
    border: 2px solid  #180c62;
    height: 3rem;
    cursor: pointer;
}
/*--x---- BUTTON READMORE -----x--*/

/*--x----- CHURCH INFORMATION SECTION -----x--*/

/*-------- OUR VISION AND MISSION SECTION --------*/
.our__visions{
    margin-top: 40rem;
    grid-area: 5/1/6/5;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    justify-content: center;
    place-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.our__box__1{
    grid-area: 1/1/2/2;
}

.our__box__2{
    grid-area: 1/2/2/3;
}

.our__box__3{
    grid-area: 1/3/2/4;
}
/*--x----- OUR VISION AND MISSION SECTION -----x--*/

/*-------- OUR PASTOR'S SECTION --------*/
.our__pastors{
    grid-area: 6/1/7/5;
    margin-top: 6rem;
}

.pastors__title{
    text-align: center;
    text-transform: uppercase;
    grid-area: 1/1/2/5;
}

.pastors__box{
grid-area: 2/1/3/5;
display: grid;
place-items: center;
grid-template-columns: repeat(4,1fr);
grid-gap: 2rem;
}

.pastor__image{
    width: 20rem;
    height: 20rem;
}

.pastor__name{
    font-size: 1.5rem;
    color: #180c62;
}

.pastor__post{
    font-size: 1.3rem;
    color: #180c62;
}

.pastor__parish{
    font-size: 1rem;
    color: #180c62;
}
/*--x----- OUR PASTOR'S SECTION -----x--*/

/*-------- CONNECT WITH US SECTION --------*/

.connect__us{
    grid-area: 7/1/8/5;
}

.connect__title{
    text-align: center;
    grid-area: 1/1/2/5;
}

.connect__icons{
    text-align: center;

}
/*--x----- CONNECT WITH US SECTION -----x--*/

/*-------- OUR SERVICES SECTION --------*/
.our__services{
    grid-area: 8/1/9/5;
    margin-top: 6rem;
}

.service__name{
    font-size: 2rem;
}

/* .https://meet.google.com/bsw-ooto-uuc?authuser=0 */
/*-------- OUR SERVICES SECTION --------*/

/*-------- FOOTER SECTION --------*/
footer{
    grid-area: 9/1/10/5;
    margin-top: 6rem;
}

.first__row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    place-items: center;
}

.church__name{
    font-size: 1.1rem;
    font-weight: bold;
}

.address{
    text-transform: capitalize;
    font-size: 1.8rem;
}

.reserved{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
/*--x----- FOOTER SECTION -----x--*/

/*-------- 1280PX MOBILE FIRST RESPONSIVE WEBSITE DESIGN --------*/
@media screen and (max-width: 1280px){
    /*-------- NAVIGATION CONTAINER SECTION --------*/
    .nav__container{
        width: 100%;
    }
    /*-------- NAVIGATION CONTAINER SECTION --------*/
}
/*--x----- 1280PX MOBILE FIRST RESPONSIVE WEBSITE DESIGN -----x--*/

/*-------- 768PX MOBILE FIRST RESPONSIVE WEBSITE DESIGN --------*/
@media screen and (max-width: 768px){
    .tab__nav__label{
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }
    .tab__content{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        -webkit-transition: all ease-in-out 0.4s;
    }

    .nav__checkbox input:checked ~ .tab__content{
        max-height: 400px;
    }
    .tab__content li{
        padding: 10px 0;
    }
}
/*-------- 768PX MOBILE FIRST RESPONSIVE WEBSITE DESIGN --------*/









